.absentees{
    color: brown;
    background-color: rgb(255, 214, 214);
}

.presentees{
    color: green;
    background-color: rgb(214, 255, 219);
}

.absentees, .presentees{
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
}

.absent{
    margin: 0;
}
.present{
    margin: 0;
}

h1{
    font-size: 20px;
}

li{
    font-size: 16px;
}

.cont{
    display: flex;
    justify-content: center ;
    align-items: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.763);
    box-shadow: 0px 0px 100px 1000px rgba(0, 0, 0, 0.763);
    height: 100%;
    width: 100%;
    flex-direction: column;
    overflow: scroll;
    overflow-x: visible;
    gap: 20px;
    transform: scale(1) translateY(-400px);
}

.list{
    margin: 0;
    padding: 0;
    padding-inline-start: 10px;

}